<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" ng-include="'../partials/navbarAfter.html'">
</nav>
<div class="container " id="WBlog" >
<div class="w-75  mt-5 ">
    <div  class="  border border-secondary rounded w-100"  >
       
        
                <div> <input   class="w-100  border-0" type="text" placeholder="Tiltle"></div>
               
                <div  id="d1" >
                    <textarea  class=" w-100  border-0"  placeholder="Write a Blog....."></textarea>
                </div>
                <div  >
                    <input id="Tags" class=" w-100 border-0 " type="text"  placeholder="Tags">
                 </div>
                
       
    </div>


 
    <div>
        <button type="button" class=" float-right my-3 mr-2 rounded px-4 py-2 bg-dark text-white">Post</button>
    </div>

</div>
</div>
